<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mc-signup-container">
  <label class="mc-signup-label" for="email" aria-label="Email">Email</label><a class="fas fa-info-circle mc-widget-tooltip" title="Sample Text" aria-hidden="true"><span>Email Must Have</span></a>

  <input class="form-inputs mc-email-error" type="email" name="email" aria-label="Insert Email" aria-required="true" placeholder="Example@mail.com">
  <div class="mc-error-text "><span>Invalid Email</span></div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mc-signup-container">
  <label class="mc-signup-label" for="email" aria-label="Email">Password</label><a class="fas fa-info-circle mc-widget-tooltip" title="Sample Text" aria-hidden="true"><span>Email Must Have</span></a>

  <a class="far fa-eye"></a>
  <input class="form-inputs" type="password" name="password" aria-label="Insert Password" aria-required="true">
</div>
