
mc-consent[styletype='priceless'], mc-consent[styletype='priceless'] div.customStyle{
  
  background-color: #141413;
  text-align: left;
  font-family: "Verdana, Geneva, sans-serif";
	font-size: 11px;
  line-height: 18px;
  color: white;
}



mc-consent[styletype='mastercard']{
    font-size: 10px;
    color: #6C6C6C;
    text-align: left;
    float: left;
    font-family: 'Mark Offc Pro Medium', sans-serif;
}

mc-consent[styletype='mastercard'] div.customStyle{
  background-color: #E8E8E8;
}



mc-consent[styletype='citypossible']{
  font-family: "mark-for-mc,Avenir,Helvetica,sans-serif";
  float: left;
  width: 100%;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-size: 100%;
  color: #777;
}

mc-consent[styletype='citypossible'] div.customStyle{
  background-color: white;
}




