<form #f='ngForm' [attr.default-theme]="loadDefaultTheme" [style.width]="width" [style.height]="height" locale="locale">
  <div (focusout)="focusOutFunction($event)" style="padding:5px" id="WidgetComponent" [ngStyle]="widgetstylenew">

    <span [ngClass]="{'errorConcentBlock': consentErr}" identifier="errorConcentAlign" id="errorConcent" i18n>
      Please select all consents
    </span>
    <div style="overflow-y: auto;max-height: 10em">
      <div *ngFor="let consent of consentList; let i = index">
        <div class="checkbox mc-consent-block">
          <label style="float: left;">
            <input   identifier="consentcheckbox" style="margin-right:3px;" class="mc-checkbox"
                   *ngIf="consentList?.length != i+1 || consentList?.length == 1" id="consent{{i+1}}" name="consent{{i+1}}" type="checkbox"
                   (ngModelChange)="onFilterChange($event, consent, i)" required="{{consent.isRequired}}" ngModel #con/>
			      <div  *ngIf="consentList?.length != i+1 || consentList?.length == 1" class="mc-control-indicator" [ngClass]="{'mc-error-msg': callValid(i+1)}"></div>
          </label>
          <span identifier="astrict" style="margin-right:3px;float: left" *ngIf="consent.isRequired && consentList?.length != i+1">*</span>

          <div [ngClass]="{'patchConsentText': consentList?.length != i+1 || consentList?.length == 1}" identifier="consentBlock" *ngIf="consent.linkData"
            [innerHTML]="consent.linkData | safe: 'html'" (bindEvent)="onBindEvent($event);"></div>
      </div>
    </div>
  </div>

  <jw-modal id="custom-modal-1">
    <!--<div *ngFor="let legal of legalList; let i = index">
      <a class="close" (click)="closeModal('custom-modal-1');">X</a>
      <div [innerHTML]="legal | safe: 'html'">
      </div>
    </div>-->
		<div class="mc-modal-iframe">
        <iframe id="ifrOverlay" src="javascript:void(0)" height="400" width="700" scrolling="auto" align="middle">&nbsp;</iframe>
    </div>

  </jw-modal>
  <jw-modal id="custom-modal-2">
    <div [innerHTML]="stingAlert | safe: 'html'"> </div>

  </jw-modal>
  </div>
</form>