<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mc-signup-container">
  <label class="mc-signup-label" for="email" aria-label="Email">Phone No.</label><a class="fas fa-info-circle mc-widget-tooltip" title="Sample Text" aria-hidden="true"><span>Email Must Have</span></a>
  <span class="mc-signup-info">
							</span>
  <input class="form-inputs" type="text" name="contact" aria-label="Insert contact" aria-required="true" placeholder="+91 xxx-xxx-xxxx ">
</div>
<div class="text-center mc-form-sumbit col-12">
  <div class="col-5 d-inline-block" rol="button" aria-label="go">
    <button class="btn btn-primary" disabled aria-label="Submit button">Send</button>
  </div>
  <div class="col-5 d-inline-block" rol="button" aria-label="go">
    <button class="btn btn-primary" aria-label="Submit button">Resend</button>
  </div>
</div>
<div class="mc-signup-bottom text-center">
  <div class="col-12 mc-already-sign">
    <p class="mc-phone-signup-text"aria-label="true">Send verification code to verify  <br> & Sign up</p>
    <small class="mc-phone-signup-error" aria-label="true" >Verification send failed try again! </small>
  </div>
</div>
<div class="mc-widget-confirm-code col-9">
  <input class="text-center" type="text" name="code" aria-label="Insert contact" aria-required="true" placeholder="CODE">
</div>
